{% extends "marketapp/admin/adminIndex.html" %}
{% load widget_tweaks %}
{% block contenido %}
<div class="container mx-auto mt-10 p-4">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-center">Editar Usuario</h2>
        
        <form method="post" enctype="multipart/form-data" class="space-y-6">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm sm:text-base mb-2">{{ field.label }}</label>

                {% if field.name == 'imagen' %}
                    <div class="grid grid-cols-2 gap-4">
                        <div class="flex flex-col items-center mb-4 text-center">
                            <p class="text-gray-600 font-semibold">Avatar actual:</p>
                            {% if usuario.avatar_set.exists %}
                                <img src="{{ usuario.avatar_set.first.imagen.url }}" alt="Avatar actual del usuario" class="rounded shadow w-3/4 md:w-1/4">
                            {% else %}
                                <img src="{{ request.scheme }}://{{ request.get_host }}{{ MEDIA_URL }}avatares/default.png" alt="" class="rounded-full object-cover h-9 w-9">
                            {% endif %}
                        </div>
                        <div class="flex flex-col items-center mb-4 text-center">
                            <p class="text-gray-600 font-semibold">Nuevo avatar:</p>
                            <img id="imagePreview" class="rounded shadow w-3/4 md:w-1/4" style="display: none;">
                        </div>
                    </div>
                {% endif %}

                <div>
                    {{ field|add_class:"border rounded-lg p-2 w-full text-sm sm:text-base focus:ring-blue-500 focus:border-blue-500" }}
                    
                    {% if field.errors %}
                        <p class="mt-1 text-xs text-red-600">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            
            <div class="flex justify-center mt-6">
                <input type="submit" value="Guardar Cambios" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
            </div>
        </form>
    </div>
</div>


<script>
    document.querySelector('[name="imagen"]').addEventListener('change', function(event) {
        const imagePreview = document.getElementById('imagePreview');
        const input = event.target;
        const file = input.files[0];
        
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}
