{% extends "marketapp/index.html" %}
{% load widget_tweaks %}

{% block titulo %}
Acerca de Renzo Anaya - Organik
{% endblock titulo %}

{% block contenido %}
<div class="container mx-auto mt-10 p-4">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-green-600">Acerca de Renzo Anaya</h2>
        
        <div class="space-y-6">
            <p class="text-lg">
                Soy <strong>Renzo Anaya</strong>, un Fullstack Developer apasionado por la tecnología y el diseño. A lo largo de mi carrera, he adquirido habilidades en:
            </p>

            <ul class="list-disc pl-5">
                <li>HTML</li>
                <li>CSS</li>
                <li>Tailwind CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>React</li>
                <li>Next.js</li>
                <li>Python</li>
                <li>Node.js</li>
                <li>SQL</li>
                <li>MongoDB</li>
            </ul>

            <p class="text-lg">
                Además de mis habilidades de desarrollo, tengo experiencia en diseño, específicamente utilizando <strong>Figma</strong> para diseñar aplicaciones. El diseño es esencial para crear experiencias de usuario atractivas y funcionales, y siempre estoy buscando formas de mejorar y innovar en este campo.
            </p>

            <p class="text-lg">
                He tenido el privilegio de liderar varios proyectos para diferentes empresas y he creado sitios web y aplicaciones para mis propias empresas, como <strong>Repo</strong>, <strong>Wiqli</strong> y <strong>Alchemia Caffè</strong>. Cada proyecto ha sido una oportunidad para aprender, crecer y aportar valor a mis clientes y usuarios.
            </p>
        </div>
    </div>
</div>
{% endblock contenido %}
