{% extends 'marketapp/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}
    Productos Organik
{% endblock titulo %}

{% block contenido %}
<div class="bg-white p-4 sm:p-6 md:p-8 rounded-lg shadow-md text-center">
    <h2 class="text-xl sm:text-2xl md:text-3xl font-bold mb-4 sm:mb-6 text-green-600">Resumen de Orden</h2>

    <div class="w-full sm:mx-auto md:max-w-2xl">
        <table class="min-w-full bg-white rounded-lg overflow-hidden w-full text-sm sm:text-base">
            <thead class="bg-gray-300 uppercase text-sm text-gray-700">
                <tr>
                    <th class="py-2 px-2 sm:px-4">Producto</th>
                    <th class="py-2 px-2 sm:px-4">Cantidad</th>
                    <th class="py-2 px-2 sm:px-4">Envase</th>
                    <th class="py-2 px-2 sm:px-4">Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for item in carrito %}
                <tr class="text-gray-700">
                    <td class="py-2 px-2 sm:px-4">
                        <div class="flex sm:px-4 items-center justify-center">
                            <img src="{{ item.imagen.url }}" alt="{{ item.nombre }} Organik" class="items-left w-2/4 md:w-1/6 p-2 mr-2"/>
                            <p>{{ item.nombre }}</p>
                        </div>
                    </td>
                    <td class="py-2 px-2 sm:px-4">{{ item.cantidad }}</td>
                    <td class="py-2 px-2 sm:px-4">{{ item.envase }}</td>
                    <td class="py-2 px-2 sm:px-4">S/{{ item.precio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-6 space-y-4 text-center">
            <p class="text-lg md:text-2xl font-bold">Total productos: <span class="text-green-600 font-normal font-semibold">S/{{ total }}</span></p>
            <p class="text-lg md:text-2xl font-bold">Descuento: <span class="text-red-600  font-semibold">S/{{ form.initial.descuento }}</span></p>
            <p class="text-lg md:text-2xl font-bold">Costo de Envío: <span class="text-green-600 font-semibold">S/{{ form.initial.costo_envio }}</span></p>
            <p class="text-lg md:text-2xl font-bold">Total a Pagar: <span class="text-green-600 font-semibold">S/{{ form.initial.total_a_pagar }}</span></p>
        </div>

    </div>

    <h2 class="text-2xl md:text-3xl font-bold mb-4 sm:mb-6 text-green-600 mt-4">Datos de Entrega</h2>
    <div class="bg-white shadow rounded-lg p-4">
        <form method="post" class="space-y-6">
            {% csrf_token %}

            {% for field in form %}
            <div class="mb-4">
                <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm sm:text-base mb-2">{{ field.label }}</label>
                <div>
                    {{ field|add_class:"border rounded-lg p-2 w-full text-sm sm:text-base" }}
                    {% if field.errors %}
                    <p class="mt-1 text-xs text-red-600">{{ field.errors.0 }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <div class="flex justify-center">
                <input type="submit" value="Realizar pedido" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-lg">
            </div>
        </form>
    </div>
</div>
{% endblock contenido %}
